<%= form_for [@job, @job_application] do |form| %>
  <% if @job_application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this @job_application from being
        saved:</h2>

      <ul>
        <% @job_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="margin: 25px;">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :cover_letter %>
      <%= form.text_area :cover_letter, class: "form-control" %>
      <%= form.hidden_field :job_id, value: @job.id, class: "form-control" %>
      <%= form.hidden_field :user_id, value: 1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :resume %>
      <%= form.text_field :resume, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to "Back", jobs_path, class: 'btn btn-secondary ', style: 'margin-left: 10px;' %>
    </div>
  </div>
<% end %>


<style>
    .job-form {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-label {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .form-control:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

</style>
